.App {
  text-align: center;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.upload-button {
  background-color: #4CAF50; /* Green */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.upload-button:disabled {
  background-color: #ccc; /* Gray when disabled */
  cursor: not-allowed;
}
.upload-form {
  background-color: #f0f8ff; /* light blue background */
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #ccc;
  color: #333; /* text color */
  max-width: 400px;
  margin: 0 auto; /* center horizontally */
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

